*{
font-family:Purisa;
font-size: 15px;
}

#nav {
  background-color: #11233b;
}
#nav_wrapper{
width:960px;
margin:0 auto;
text-align: left;
}

#nav ul {
  box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
img {
     border: hidden;
	 border-size: 2px;
     border-radius:70%;
	 padding:38px;
	}
	#nav ul li{
padding:0px;
display:inline-block;
}
#nav ul li:hover{
  background-color: #ededed;
  }
  #nav  ul li a,visited{
 color:#C5A1A1;
 display:block;
 text-decoration: none;
 padding:15px;
}

#nav ul li a:hover{
color: #92CB6B;
text-decoration:none;
}